/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*:focus {outline:0px none transparent;}

body {
  /* line height not suitable for headings */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  /* hyphens: auto; */
}

/* PROJECT CSS */
:root {
  --left: 35vw;
  --right: 65vw;
  --form-padding: 50px;
  --shadow-color: #AAAAAA;
  --form-label-color: #393939;
  --olive-green: #596D48;
}

.page {
  display: flex;
}
.logo-section {
  flex: initial;
  height: 100vh;
  width: var(--left);
  background-image: url("./images/splash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30vh;
  background: rgba(0, 0, 0, .7);
}

.material-symbols-outlined {
  font-size: 10rem;
  color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


div.logo-box > h1 {
  font-family: doto;
  font-size: 9rem;
  color: white;
}

.form-section {
  width: var(--right);
}

.form-section > p.hero-text {
  padding: var(--form-padding);
  font-weight: 700;
  font-size: 1.5rem;
}

form > p.signup-text {
  color: var(--form-label-color);
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0px var(--form-padding);
}

form > fieldset.text-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 30px var(--form-padding) 50px;
  gap: 20px 80px;
  color: var(--form-label-color);
  border: none;
  box-shadow: 0px 5px 5px 0px var(--shadow-color);
}

form > fieldset.text-input div {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  flex-basis: 400px;
}

form > fieldset.text-input label {
  font-size: small;
  font-weight: 600;
  letter-spacing: 1px;
}

form > fieldset.text-input input {
  padding: 3px 6px;
  border: 2px solid #E5E7EB;
  border-radius: 5px;
}

form > fieldset.text-input input:focus {
  border-color: cornflowerblue;
  box-shadow: 5px 5px 10px 0px var(--shadow-color);
}

form > fieldset.text-input input:user-invalid {
  border-color: red;
}

form > div.submit-box {
  padding: 20px var(--form-padding);
}

form > div.submit-box button {
  min-width: fit-content;
  padding: 15px 50px;
  background-color: var(--olive-green);
  color: white;
  font-weight: 600;
  border: 1px none black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--shadow-color);
}

div.submit-box button > h2 {
  font-size: 1rem;
}

p.login-text {
  font-weight: 500;
  padding: 0 var(--form-padding);
}

p.login-text > a {
  text-decoration: none;
}

p.login-text > a:link {
  color: var(--olive-green);
}

p.login-text > a:visited {
  color: var(--olive-green);
}